/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-main: IBM Plex Mono, monospace;
  --font-normal: 400;
  --font-bold: 700;
  --color-accent: #ff0070;
  --color-deco: #ff0070;
  --color-background: #000028;
  --decorated-text-color: #000028;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --corner-symbol-display: flex;
  --transparent-border-color: rgba(255, 0, 112, 0.4);
  --article-text-color: #f1b2ce;
}
